[submodule "flaskr/nba_api"]
	path = flaskr/nba_api
	url = https://github.com/swar/nba_api.git
[submodule "flaskr/nbaHeadshots"]
	path = flaskr/nbaHeadshots
	url = https://github.com/ChaseRun/nbaHeadshots.git
